@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body, html {
  height: 100%;
  width: 100%;
}

html {
  background: #fff;
  color: #3b5998;
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  padding: 30px;
}

.b-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 960px;
  margin: auto;
  padding: 10px 5px;
  border: 3px solid #3b5998;
  border-radius: 5px;
  font-size: 0;
}

.b-game-info,
.b-playfield {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  font-size: 18px;
}

.b-players-info {
  width: 360px;
}

.b-playfield {
  width: 728px;
  min-height: 200px;
  border: 5px solid #8b9dc3;
}
.b-playfield table td {
  height: 90px;
  width: 90px;
  position: relative;
}
.b-playfield table td a {
  display: block;
  height: 70px;
  width: 70px;
  margin: 10px;
  border-radius: 100%;
  background: red;
  cursor: pointer;
}
.b-playfield table td a.checkerBlack {
  background: #3b5998;
}
.b-playfield table td a.checkerWhite {
  background: #dfe3ee;
}
.b-playfield table td a.active {
  box-shadow: 0 0 10px greenyellow;
}
.b-playfield table td a.king {
  box-shadow: 0 0 25px gold;
}
.b-playfield table td a.king.active {
  box-shadow: 0 0 25px gold, 0 0 25px greenyellow;
}
.b-playfield table .black {
  background: #8b9dc3;
}

.b-player {
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #3b5998;
}
.b-player p {
  padding: 5px;
}

.b-player_2 {
  margin-bottom: 0;
}
