body, html {
  height: 100%;
  width: 100%;
}

html {
  background: #fff;
  color: #3b5998;
}

body {
  @include box-sizing(border-box);
  font-family: $robo;
  font-size: 18px;
  padding: 30px;
}

.b-wrapper {
  @include box-sizing(border-box);
  width: 960px;
  margin: auto;
  padding: 10px 5px;
  border: 3px solid #3b5998;
  border-radius: 5px;
  font-size: 0;
  
}

.b-game-info,
.b-playfield {
  @include box-sizing(border-box);
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  font-size: 18px;
}

.b-players-info {
  width: 360px;
}

.b-playfield {
  width: 728px;
  min-height: 200px;
  border: 5px solid #8b9dc3;
  table {
    td {
      height: 90px;
      width: 90px;
      position: relative;
      a {
        display: block;
        height: 70px;
        width: 70px;
        margin: 10px;
        border-radius: 100%;
        background: red;
        cursor: pointer;
        &.checkerBlack {
          background: #3b5998;
        }
        &.checkerWhite {
          background: #dfe3ee;
        }
        &.active {
          box-shadow: 0 0 10px greenyellow;
        }
        &.king {
          box-shadow: 0 0 25px gold;
        }
        &.king.active {
          box-shadow: 0 0 25px gold, 0 0 25px greenyellow;
        }
      }
    }
    .black {
      background: #8b9dc3;
    }
  }
}

.b-player {
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #3b5998;
  p {
    padding: 5px;
  }
}

.b-player_2 {
  margin-bottom: 0;
}












